body {
  background-color: antiquewhite;
  color: #0d1852;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  background-color: orange;
  color: #000;
  font-family: 'Adrianna Extended', sans-serif, bold;
  font-size: 50px;
  text-align: center;
  padding: 5px;
  text-shadow: 3.5px 3.1px lightgoldenrodyellow;
  word-break: break-all;
}

hr.solid {
  border-top: 2px solid #1687a7;
}

